<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body ng-app="presale">
    <ul class="menu horizontal">
      <li><a ui-sref="hello" ui-sref-active="active">Hello</a></li>
      <li><a ui-sref="about" ui-sref-active="active">About</a></li>
    </ul>
    <div class="row">
      <div class="small-12 medium-6 medium-centered columns">
        <h1>Welcome to Futourist public presale KYC</h1>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <form>
          <div class="grid-container">
            <div class="row">
              <div class="small-12 medium-6 columns">
                <label>Input Label
                  <input type="text" placeholder=".medium-6.cell">
                </label>
              </div>
              <div class="small-12 medium-6 columns">
                <label>Password
                  <input type="password" placeholder=".medium-6.cell">
                </label>
              </div>
              <div class="small-12 columns">
                <country-select ng-model="country" cs-priorities="GB, US, CN, ES"></country-select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


    
    <ui-view>

    </ui-view>


    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/dist/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="js/app.js"></script>
    
    <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>


    <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <script src="libs/angular-ui-router.min.js"></script>
    <script src="app/app.js"></script>  
    <script src="libs/ng-country-select.js"></script>
  </body>
</html>
